:root {
  --gray: gray;
  --opacity: 88%;
  --white: #fff;
  --green: #0fa866;
  --main-blue: #18acc4;
  --black-texts: #1f2d30;
  --main-yellow: #fdcb13;
  --second-blue: #007a8d;
  --second-yellow: #de9e1f;
  --gray-background: #fbfbfb;
  --gray-line-cards: #d3d3d3;
  --modal-overlay-black: #1f2d30;
}