.navbar-icon-circle {
  width: 40px;
  padding-top: 3px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 7px;
  border: 3.5px solid var(--second-blue);
}

.navbar-icon-circle i {
  height: 30px;
  line-height: 25px;
}

.nav-font-settings {
  font-size: 1.5em;
  color: var(--second-blue);
}

.container-first-part-nav-bar {
  display: flex;
  margin-top: 15px;
}

.container-first-part-nav-bar img {
  width: 55px;
  height: 55px;
}

.first-column {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--second-blue);
}

.second-column {
  width: 50%;
  display: flex;
  margin-top: 0;
  justify-content: center;
  border-left: 2px solid var(--gray-line-cards);
  border-right: 2px solid var(--gray-line-cards);
}

.second-column>div>h2 {
  font-size: 1.4em;
  color: var(--second-yellow);
}

.second-column>div>h2>span {
  font-size: 1em;
  color: var(--second-blue);
}

.second-column__items {
  width: 70px;
}

.third-column {
  width: 25%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.third-column>h2 {
  font-size: 1em;
}

.icon-user-account {
  font-size: 40px;
  margin-bottom: 7px;
}

.container-second-part-nav-bar {
  height: 50px;  /* DESKTOP */
  display: flex;
  margin-top: 10px;
  padding: 10px 10px;  /* DESKTOP */
  color: var(--white);
  align-items: center;
  justify-content: space-between;
  background-color: var(--main-blue);
}

.container-second-part-nav-bar h2 {
  font-size: 1.1em;
}

.menu {
  width: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-third-part-nav-bar {
  display: flex;
  padding: 20px 10px;
  color: var(--second-blue);
}

.container-third-part-nav-bar i {
  padding-right: 10px
}



/* MEDIA QUERIE AQUI */