.border {
  border: solid 2px red; /* BORRRRDERRRRRRR AUXXXXXXXXXXXXXXXXXX APAGAR AO FINAL */
  margin-top: -2px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 17px;
  box-sizing: border-box;
  font: "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  min-width: 340px;
  min-height: 577;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
}
