.border {
  border: solid 2px red;
  /* BORRRRDERRRRRRR AUXXXXXXXXXXXXXXXXXX APAGAR AO FINAL */
  margin-top: -2px;
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 17px;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-width: 340px;
  min-height: 537px;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  max-width: 100%;
}